body {
    background-color:#E4E4E4;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

html, body, .content {
    height: 100%;
    background-color: #ffffff;
}

/* Portrait layout (default) */

.content {
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    /*border: 1px solid #000000;*/
    overflow: hidden;
    height: 20%;
}

    #sosButton {
        float:right;
        height: 100%;
    }

    #titleWrap{
        width: 75%;
    }

        #titleWrap h1{
            font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
            font-weight: normal;
        }

#remindersWrap {
    background-color: #F3F2F2;
    height: 54%;
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 3%;
    margin-bottom: 30px;
    overflow: scroll;
}

    .reminderDayWrap {
        margin-bottom: 30px;
        background-color: #ffffff;
    }

        .reminderDayWrap h2{
            background-color: #9013FE;
            color: #ffffff;
            text-transform: uppercase;
        }

        .reminderContent {
            background-color: #ffffff;
            padding: 10px;
        }

            .reminderLine {
                overflow: hidden;
            }

                .reminderTitle {
                    float: left;
                    width: 80%;
                    overflow: hidden;
                }

                .reminderTime {
                    float: right;
                }

#actionWrap {
    position: fixed;
    bottom: 20px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 20%;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

    #eventButton {
        float: left;
        background-color: #F1C40F;
        width: 45%;
        height: 100%;
    }

    #callButton {
        float: right;
        background-color: #99CC31;
        width: 45%;
        height: 100%;

    }

    .bigActionButton {
        text-align: center;
        font-size: 3em;
        line-height: 2em;
    }


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    /*Landscape code goes in here */
}