* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:12px;
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    line-height: normal;
}

header.colorHeader {
    width: 100%;
    height: 12%;
    background-color: #4A90E2;
    border-bottom: 5px solid #979797;
    position: relative;
}

header.colorHeader h1 {
    width: 100%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
}

.circleProfile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #4891BF;
    float:left;
    color:white;
    line-height:50px;
    white-space: nowrap;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
}

.blackShade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .5;
    top: 0;
    left: 0;
    z-index: 1100;
}

/**/
.notificationModal {
    position: fixed;
    width: 80%;
    left: 10%;
    margin-top: 37%;
    margin-bottom: 37%;
    -webkit-transform: translateY(-50%);
    z-index: 1200;
    background-color: #ffffff;
}

    .notificationModal header {
        background-color: #4A90E2;
        color: white;
        text-align: center;
        margin: 0;
        padding-top: 3%;
        padding-bottom: 3%;
    }
        .notifTitle {
            margin: 0;
            font-size: 42pt;
        }

        .notifTime {
            font-size: 28pt;
            color: #ffffff;
            margin-top: 20px;
        }

    .notificationModal .notificationContent {
        background-color: #ffffff;
        text-align: center;
        font-size: 17px;
        padding: 5px 5px 40px 5px;
    }
        .notificationContent span {
            font-size: 40pt;
            margin-top: 20%;
            margin-bottom: 20%;
            /*font-weight: 700;*/
        }

        .notificationContent .circleProfile {
            float: none;
            margin-left: 50%;
            margin-top: 6%;
            margin-bottom: 6%;
            -webkit-transform: translateX(-50%);
            background-color: #7FD220;

            width: 140px;
            height: 140px;
            line-height: 140px;
            font-size: 50pt;
            font-weight: 500;
        }

    .notifBtnWrap {
        background-color: #ffffff;
        overflow: hidden;
        height: 145px;
        width: 100%;
    }

        .notifBtn {
            width: 50%;
            float: left;
        }

        .notifDismiss img {
            float: right;
            padding-right: 30px;
        }

        .notifViewDetails img {
            padding-left: 30px;
        }

/* Alert Notification */
    .alertTitle {
        text-align: center;
        font-size: 70px;
        line-height: 70px;
        margin-top: 60px;
        font-weight: bold;
        margin-bottom: 0;
    }

    .alertDate {
        text-align: center;
        font-size: 46px;
        line-height: 46px;
        margin-top: 15px;
    }

    .alertCountDownWrap {
        margin-top: 30px;
        margin-bottom: 30px;
        overflow: hidden;
    }

        .alertCountDown {
            float: left;
            margin-left: 50%;
            background-color: #4A90E2;
            border-radius: 8px;
            color: #ffffff;
            font-weight: bold;
            font-size: 46px;
            line-height: 46px;
            padding: 20px 50px;
            -webkit-transform: translateX(-50%);
        }

    .alertRemaining {
        text-align: center;
        font-size: 46px;
        line-height: 46px;
        margin-bottom: 30px;
    }
