/* Portrait layout (default) */

#contacts {
    height: 100%;
    background-color: #ffffff;
}

#leftPanel {
    padding-left: 1.6%;
    padding-right: 1.6%;
    text-align: left;
    width: 47%;
    height: 100%;
    float: left;
}

header.contactText {
    height: 80%;
}

header.contactText h1 {
    font-weight: normal;
    font-size: 5em;
    vertical-align: middle;
    padding-top: 25%;
}

#rightPanel {
    height: 100%;
    width: 50%;
    padding-right: 1.6%;
    float: right;
    overflow: hidden;
}

#contactsWrap {
    background-color: #F3F2F2;
    width: 90%;
    height: 90%;
    top: 5%;
    position: fixed;
    overflow: scroll;
}

.contactCardWrap {
    width: 45%;
    padding: 5.5%;
    float: left;
}

.contactImg {
    width: 100%;
}

.contactName {
    text-align: center;
}

.navButtons {
    bottom: 0;
}

.back {
    float: left;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    Landscape code goes in here
}