/* Portrait layout (default) */

#createReminderTime {
    height: 100%;
    background-color: #ffffff;
}

header.create, div.create {
    height: 80%;
}

div.create {
    font-size: medium;
    padding-top: 60%;
    width: 100%;
}

header.create h1 {
    font-weight: normal;
    font-size: 5em;
    vertical-align: middle;
    padding-top: 25%;
}

input.create {
    width: 85%;
}

#leftPanel {
    padding-left: 1.6%;
    padding-right: 1.6%;
    text-align: left;
    width: 47%;
    height: 100%;
    float: left;
}

#rightPanel {
    height: 100%;
    width: 50%;
    padding-right: 1.6%;
    float: right;

    overflow: hidden;
}

.navButtons {
    bottom: 0;
}

.back {
    float: left;
}

.next {
    float: right;
}

#time {
    width: 80%;
}

.timeInput {
    float: left;
}

#separator {
    font-size: 8em;
}

#hourInput {
    width: 30%;
    float: left;
}

#minutesInput {
    margin-left: 10%;
    width: 60%;
    float: right;
}

input.hours {
    height: 7em;
    width: 80%;
}

input.minutes {
    height: 7em;
    width: 80%;
}

#setTime {
    padding-top: 60%;
    width: 100%;
}

#timeButtons {
    padding-top: 5%;
    width: 100%;
}

#timeButtons img {
    padding: 10px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    /*Landscape code goes in here*/
}