/* Portrait layout (default) */

#createReminderTime {
    height: 100%;
    background-color: #ffffff;
}

header.create, div.create {
    height: 80%;
}

div.create {
    font-size: medium;
    padding-top: 60%;
    width: 100%;
}

#createTime {
    padding-top: 40%;
}

header.create h1 {
    font-weight: normal;
    font-size: 5em;
    vertical-align: middle;
    padding-top: 25%;
}

input.create {
    width: 85%;
}

#leftPanel {
    padding-left: 1.6%;
    padding-right: 1.6%;
    text-align: left;
    width: 47%;
    height: 100%;
    float: left;
}

#rightPanel {
    height: 100%;
    width: 50%;
    padding-right: 1.6%;
    float: right;

    overflow: hidden;
}

.navButtons {
    bottom: 0;
}

.back {
    float: left;
}

.next {
    float: right;
}

.timeInput {
    float: left;
}

#separator {
    width: 20%;
    font-size: 8em;
    text-align: center;
    padding-top: 10%;
}

#hourInput {
    width: 35%;
    /*margin-right: 10%;*/
}

#minutesInput {
    /*margin-left: 10%;*/
    width: 45%;
    /*float: right;*/
}

label {
    width: 100%;
    text-align: center;
}

input.numTime {
    height: 1.5em;
    width: 100%;
    clear: right;
    font-size: 6em;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    text-align: center;
}

#setTime {
    /*padding-top: 60%;*/
    width: 90%;
}

#timeButtons {
    /*padding-top: 5%;*/
    padding-left: 2%;
    /*margin-right: auto;*/
    /*width: 100%;*/
}

#timeButtons img {
    padding: 40px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    /*Landscape code goes in here*/
}