body {
    background-color:#E4E4E4;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

html, body, .content {
    height: 100%;
    background-color: #ffffff;
}

/* Portrait layout (default) */

header, form {
    height: 80%;
}

form {
    font-size: medium;
}

header h1 {
    font-weight: normal;
    font-size: 5em;
    vertical-align: middle;
    padding-top: 25%;
}

form {
    padding-top: 60%;
}

input {
    width: 85%;
}

#leftPanel {
    padding-left: 1.6%;
    padding-right: 1.6%;
    text-align: center;
    width: 47%;
    height: 100%;
    float: left;
}

#rightPanel {
    height: 100%;
    width: 50%;
    padding-right: 1.6%;
    float: right;

    /*overflow: hidden;*/
}

.navButtons {
    bottom: 0;
}

.back {
    float: left;
}

.next {
    float: right;
}

label {
    font-size: 3em;
    color: black;
}



/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    /*Landscape code goes in here */
}