/* Portrait layout (default) */

#createReminderDate {
    height: 100%;
    background-color: #ffffff;
}

#createReminderDate header.colorHeader {
    background-color: #F1C40F;
}

header.create {
    height: 80%;
}

header.create h1 {
    font-weight: normal;
    font-size: 4em;
    vertical-align: middle;
    padding-top: 25%;
}

input.create {
    width: 85%;
}

#leftCalPanel {
    padding-left: 1.6%;
    padding-right: 1.6%;
    text-align: left;
    width: 27%;
    height: 90%;
    float: left;
}

/*#details {*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

#rightCalPanel {
    height: 90%;
    width: 70%;
    padding-right: 1.6%;
    float: right;
    overflow: hidden;
}

#calendarWrap {
    height: 80%;
    font-size: medium;
    padding-top: 10%;
}

#monthYear {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 2em;
}

#calTitle {
    margin-bottom: 0;
}

#monthYear a {
    position: absolute;
    padding-top: 3%;
}

.navigate-left {
    left: 10%;
}

.navigate-right {
    right: 10%;
}

#calTitle, #cal {
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
}

td {
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: x-large;
    width: 14%;
}

th {
    width: 14%;
    height: 20px;
    text-align: center;
    font-weight: normal;
}

tr {
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
}

.notMonth {
    color: lightgrey;
}

.selected {
    background-color: lightgrey;
    opacity: .8;
    border: grey solid 1px;
}

#today {
    color: #C45249;
    text-decoration-color: lightgrey;
    /*border: black solid 1px;*/
}

.navButtons {
    bottom: 0;
}

.back {
    float: left;
}

.next {
    float: right;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    /*Landscape code goes in here*/
}