body {
    background-color:#E4E4E4;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

html, body, .content {
    height: 100%;
    background-color: #ffffff;
}

@-webkit-keyframes fadeInFadeOut {
    0% {

        opacity: 0;
    }
    9% {
        opacity: 1;
    }
    82% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fadeInFadeOut {
    0% {
        opacity: 0;
    }
    9% {
        opacity: 1;
    }
    82% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.fade {
    display: block;
    -webkit-animation: fadeInFadeOut 5.5s;
    animation: fadeInFadeOut 5.5s;
    -webkit-animation-fill-mode:forwards;
}

#confirmationBox {
    background-color: #E4E4E4;
    z-index: 100;
    height: 90%;
    position: fixed;
    width: 90%;
    left: 5%;
    top: 5%;
    /*display: none;*/
    /*opacity: 0;*/
}

#confirmationText {
    padding-top: 25%;
    width: 100%;
    text-align: center;
}

/* Portrait layout (default) */

.content {
}

header h1, header h2 {
    font-weight: normal;
    font-size: 3.2em;
}

header h2 {
    font-size: 2em;
    margin-top: 30px;
}

#actionWrap {
    padding-top: 60px;
    padding-left: 1.6%;
    padding-right: 1.6%;
    text-align: center;

}

.centerBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerBlock:not(:first-child) {
    margin-top: 18px;
}

    .callSOSwrap {
        overflow: hidden;
    }

        #callButton {
            float: left;
        }

        #sosButton {
            float: right;
        }

#actionWrap {
    width: 33.33333333333333333%;
    height: 100%;
    float: left;

}

#rightMainPanel {
    height: 100%;
    width: 66.66666666666666666%;
    float: right;
    background-color: #F4F4F4;
}
    
    #dateTimeWrap {
        background-color: #215C9F;
        padding-top: 17px;
        padding-bottom: 17px;
    }

        #rightMainPanel h1, #rightMainPanel h3 {
            text-align: center;
            font-size: 6em;
            font-weight: 600;
            color: #ffffff;
        }
    
        #rightMainPanel h3 {
            font-size: 2.2em;
        }


    #remindersWrap {

        height: 73%;
        /*width: 66.66666666666666666%;*/
        padding-top: 19px;
        padding-left: 32px;
        padding-right: 101px;


        overflow: scroll;
        position: relative;
    }
        .arrowIndex {
            position: fixed;
        }

        #upArrowIndex {
            right: 8px;
            top: 19px;
        }

        #downArrowIndex {
            bottom: 19px;
            right: 8px;
        }


        .dayHeader {
            font-weight: normal;
            font-size: 2em;
            color: #ffffff;
            padding: 15px;
            text-align: center;
            background-color: #3498DB;

        }

        .reminderCardWrap {
            margin-bottom: 30px;
            background-color: #ffffff;
            border: 1px solid #9B9B9B;
            padding: 17px 35px 17px 35px;
        }

            .reminderTitle {
                color: #000000;
                /*text-transform: uppercase;*/
                font-weight: normal;
                font-size: 3em;
            }

            .reminderContent {
                background-color: #ffffff;
            }

                .reminderLine {
                    overflow: hidden;
                    font-size: 1.5em;
                }

                    .reminderTime {
                        float: left;
                    }

                    .reminderDate {
                        float: right;
                    }

/*#actionWrap {*/
    /*position: fixed;*/
    /*bottom: 20px;*/
    /*left: 0px;*/
    /*right: 0px;*/
    /*width: 100%;*/
    /*height: 20%;*/
    /*overflow: hidden;*/
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
/*}*/

    /*#eventButton {*/
        /*float: left;*/
        /*background-color: #F1C40F;*/
        /*width: 45%;*/
        /*height: 100%;*/
    /*}*/

    /*#callButton {*/
        /*float: right;*/
        /*background-color: #99CC31;*/
        /*width: 45%;*/
        /*height: 100%;*/

    /*}*/

    /*.bigActionButton {*/
        /*text-align: center;*/
        /*font-size: 3em;*/
        /*line-height: 2em;*/
    /*}*/


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    /*Landscape code goes in here */
}