header.remConf {
    height: 20%;
}

#reminderConfirmation {
    padding-left: 5%;
    padding-right: 5%;
}

#confirmationWrap {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#confirmation {
    text-align: center;
    padding-top: 50px;
}

#details {
    padding-top: 10%;
    width: 100%;
}

.reminderDetails {
    padding-bottom: 15%;
}

#details p {
    font-size: 24pt;
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

a {
    vertical-align: middle;
    text-align: center;
}

.navButtons {
    bottom: 0;
}

.back {
    float: left;
}

.next {
    float: right;
}