/*header.remConf {*/
    /*height: 20%;*/
/*}*/

/*#reminderConfirmation {*/
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
/*}*/

/*#confirmationWrap {*/
    /*width: 90%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*height: 100%;*/
/*}*/

/*#confirmation {*/
    /*text-align: center;*/
    /*padding-top: 50px;*/
/*}*/

#reminderConfirmation {
    height: 100%;
    background-color: #ffffff;
}

#reminderConfirmation header.colorHeader {
    background-color: #F1C40F;
}

#review {
    width: 100%;
    height: 68%;
}

#labels {
    width: 45%;
    float: left;
    padding-top: 6%;
    /*padding-right: 5%;*/

}

#labels p {
    font-size: 50pt;
    text-align: right;
    line-height: 2em;
    color: black;

    /*padding-top: 2.5%;*/
    /*padding-bottom: 2.5%;*/
}

#details {
    padding-top: 6%;
    padding-left: 5%;
    width: 55%;
    display: inline-block;
}

.reminderDetails {
    padding-bottom: 15%;
}

#details p {
    font-size: 50pt;
    font-weight: bold;
    text-align: left;
    line-height: 2em;
    /*padding-top: 2.5%;*/
    /*padding-bottom: 2.5%;*/
}

a {
    vertical-align: middle;
    text-align: center;
}

#buttons {
    padding: 3%;
    /*bottom: 0;*/
    /*height: 22%;*/
    /*width: 100%;*/
}

.navButtons {
    bottom: 0;
}

/*#backTime {*/
    /*width: 100%;*/
/*}*/

.back {
    float: left;
    /*left: 10px;*/
}

#backTime {
    left: 3%;
    position: absolute;
}

.next {
    float: right;
    /*right: 5px;*/
}