#viewCalendar header.colorHeader {
    background-color: #4891BF;
    padding-top: 5px;
    /*padding-top: 17px;
    padding-bottom: 17px;*/
    height: 160px;
    border-bottom: 5px solid #979797;
}

    #viewCalendar .colorHeader h1, #viewCalendar .colorHeader h3 {
        text-align: center;
        font-size: 5em;
        font-weight: 600;
        color: #ffffff;
        top: 0% !important;
        -webkit-transform: translateY(0%) !important;
    }

    #viewCalendar .colorHeader h1 {
        margin-top: 5px;
    }
    
    #viewCalendar .colorHeader h3 {
        font-size: 2.5em;
        margin-top: 95px;
    }

/*bring img to the front*/
a {
    z-index: 1;
}

#taskPanel {
    width: 40%;
    height: 90%;
    border-right: solid 1px black;
    /*padding-left: 1.6%;*/
    /*padding-right: 1.6%;*/
}

#calPanel {
    width: 60%;
    float: right;
}

td {
    text-align: center;
    vertical-align: middle;
    padding-top: 23px;
    padding-bottom: 23px;
}

#cal td {
    width: 14%;
    font-weight: bold;
    font-size: 20pt;
    border: grey solid 1px;
    /*border-top: grey solid 1px;*/
    /*border-bottom: grey solid 1px;*/
}

th {
    width: 14%;
    height: 10px;
    text-align: center;
    font-weight: normal;
}

tr {
    border-top: lightgrey solid 1px;
    border-bottom: lightgrey solid 1px;
}

#monYr, #monDay {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    margin-bottom: 0;
    font-size: 2em;
    color: #000000;
}

/*#monYr {*/
    /*font-size: 2em;*/
/*}*/

#monYr a {
    position: absolute;
    padding-top: 3%;
}

.navigate-left {
    left: 10%;
}

.navigate-right {
    right: 10%;
}

#monDay {
    text-align: left;
}

.notMonth {
    background-color: lightgrey;
    opacity: 0.4;
}

.hasEvent {
    text-decoration: underline;
    text-decoration-color: lightgrey;
}

.selected {
    background-color: lightgrey;
    opacity: .8;
    border: grey solid 1px;
}

#today {
    color: #C45249;
    text-decoration-color: lightgrey;
    /*border: black solid 1px;*/
}

#taskTableWrap {
    overflow: scroll;
    height: 450px;
    /*padding-right: 75px;*/
    /*border: grey solid 1px;*/
}

#taskTable {
    /*border-right: grey solid 1px;*/
}

.arrowIndex {
    position: fixed;
    z-index: 500;
    /*display: none;*/
}

#upArrowIndex {
    right: 8px;
    top: 105px;
}

#downArrowIndex {
    right: 8px;
    top: 480px;
}

.noTask {
    width: 100%;
    font-size: 20pt;
    color: grey;
}

.calTaskCard, .noTask {
    height: 110px;
}

.calTaskTime {
    width: 25%;
    line-height: 1em;
    font-size: 21pt;
    border-right: lightgrey solid 1px;
    color: #4A90E2;
}

.calTaskName {
    width: 75%;
    line-height: 1em;
    font-size: 27pt;
    text-align: left;
    padding-left: 3%;
    color: grey;
}

.calBack {
    left: 5%;
    bottom: 2%;
    position: absolute;
}