
html, body, .content {
    height: 100%;
    background-color: #ffffff;
}

#actionTitle {
    font-size: 7em;
}

#actionSubtitle {
    font-size: 6em;
    margin: 8% 10% 8% 10%;
}
    #actionViewAllImg {
        margin-left: 50px;
    }

#actionTitle, #actionSubtitle {
    text-align: center;
    font-weight: normal;
}

#actionTitle {
    margin-top: 15%;
}

#actionTouchWrap {
    margin-top: 3%;
    text-align: center;
    width: 545px;
    margin-left: auto;
    margin-right: auto;
}

.defaultButtons {
    margin-bottom: 20px;
}

.returnHome {
    background-color: white;
    position: fixed;
    height: 50px;
    width: 50px;
}

.triggerNotification {
    background-color: white;
    position: fixed;
    right: 0;
    height: 50px;
    width: 50px;
}


