#call {
    background-image: url(../img/callBackground.png);
    background-size: 100% 100%;
    position: relative;
    height: 100%;
}

#patVideoWrap {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #8f8f94 url(../img/profile.png) no-repeat center;
    background-size: contain;
    width:320px;
    height:240px;
    z-index: 300;
    overflow: hidden;
    opacity: 0;
}

#compVideoWrap {
    margin-left: 77px;
    width: 100%;
    height: 100%;
    z-index: 200;
}

#endCallWrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 77px;
    height: 100%;
    background-color: #000000;
}

#endCall {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    width: 67px;
    height: 67px;
    background: transparent url(../img/endCall.png) no-repeat center;
    background-size: cover;
}