/* Portrait layout (default) */

#contacts {
    height: 100%;
    background-color: #ffffff;
}

#contacts header.colorHeader {
    background-color: #45B372;
}

#contacts #leftPanel {
    padding-left: 1.6%;
    padding-right: 0.5%;
    text-align: left;
    width: 40%;
    height: 90%;
    float: left;
}

header.contactText {
    height: 80%;
}

header.contactText h1 {
    font-weight: normal;
    font-size: 63pt;
    vertical-align: middle;
    padding-top: 10%;
}

#contacts #rightPanel {
    height: 90%;
    width: 60%;
    padding-right: 1.6%;
    float: right;
    overflow: hidden;
}

#contactsWrap {
    /*background-color: #F3F2F2;*/
    width: 90%;
    height: 625px;
    top: 15px;
    position: fixed;
    overflow: scroll;
}

.arrowIndex {
    position: fixed;
    z-index: 500;
}

#upArrowIndexContacts {
    right: 20px;
    top: 65px;
}

#downArrowIndexContacts {
    right: 20px;
    top: 625px;
}

.contactCardWrap {
    width: 35%;
    height: 28%;
    float: left;
    margin: 3.5% 6%;
    border: black solid 1px;
    box-shadow: 1px 2px 1px 2px;
}

.contactImg {
    width: 67%;
    padding-top: 10px;
    margin: 0 auto;
    display: block;
}

.contactName {
    text-align: center;
    font-size: 23px;
    padding-top: 5px;
}

.navButtons {
    bottom: 0;
}

.back {
    float: left;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    Landscape code goes in here
}