/* Portrait layout (default) */

#createReminderTime {
    height: 100%;
    background-color: #ffffff;
}

#createReminderTime header.colorHeader {
    background-color: #F1C40F;
}

header.create, div.create {
    height: 80%;
}

div.create {
    font-size: medium;
    padding-top: 60%;
    width: 100%;
}

#createReminderTime header.create h1 {
    font-weight: normal;
    font-size: 5em;
    vertical-align: middle;
    padding-top: 0;
    height: 60%;
    -webkit-transform: translateY(50%);
}

input.create {
    width: 85%;
}

#createReminderTime #leftPanel {
    padding-left: 3%;
    padding-right: 1.6%;
    text-align: left;
    width: 35%;
    height: 90%;
    float: left;
}

#createReminderTime #rightPanel {
    height: 90%;
    width: 65%;
    padding-right: 1.6%;
    float: right;

    overflow: hidden;
}

#createTime {
    padding-top: 15%;
}

.navButtons {
    bottom: 0;
}

.back {
    float: left;
}

.next {
    float: right;
}

.timeInput {
    float: left;
}

#separator {
    width: 10%;
    font-size: 8em;
    text-align: center;
    padding-top: 22%;
    padding-left: 2%;
    float: left;
    /*padding-right: 4%;*/
}

#setTime {
    margin-top: 5%;

}

#setTime label {
    width: 100%;
    display: block;
    text-align: center;
}

.timeInput {
    width: 137px;
    float: left;
}

.numTime {
    height: 100px;
    text-align: center;
    font-size: 56pt;
    line-height: 58pt;
    border-right: solid 1px grey;
    border-left: solid 1px grey;
    margin-left: 5px;
    width: 135px;
}

#timeButtons {
    width: 30%;
    padding-top: 10%;
    padding-left: 10%;
}

#timeButtons img {
    padding: 20px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    /*Landscape code goes in here*/
}