
html, body, .content {
    height: 100%;
    background-color: #ffffff;
}

#SosButton {
	position: fixed;
	width: 100%;
}

#SosButton img{
	width: 100%;
}

#welcomeTitle {
    font-size: 7em;
}

#welcomeSubtitle {
    font-size: 6em;
}

#welcomeTitle, #welcomeSubtitle {
    text-align: center;
    font-weight: normal;
}

#welcomeTitle {
    margin-top: 15%;
}

#touchWrap {
    margin-top: 3%;
    text-align: center;
}